
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.contact-entry th{
  padding: 5px 15px;
  font-size: 15px;
  font-weight: bold;
}

.contact-entry td{
  padding: 5px 15px;
  font-size: 15px;
}
